{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro! - Home{% endblock title %}

{% block body %}
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>

				<h4>Matriculas abertas</h4>

				<div> Pagamento pelo pagseguro. </div>
				<div class="clear">
						<input type="submit" value="Pagar" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
				</div>
				</div>
<!--				<h4>Lista de Espera</h4>-->

<!--			<div id="mc_embed_signup">-->
<!--			<form action="https://gmail.us20.list-manage.com/subscribe/post?u=45c6519d7a30bc38e73a93ea8&amp;id=161d535f0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>-->
<!--				<div id="mc_embed_signup_scroll">-->
<!--					  <div class="col-auto">-->
<!--						  <div class="mc-field-group">-->
<!--								<label for="mce-FNAME">Primeiro Nome </label>-->
<!--								<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" PLACEHOLDER="Seu nome">-->
<!--						  </div>-->
<!--						  <div class="mc-field-group">-->
<!--								<label for="mce-EMAIL">Email <span class="asterisk">*</span>-->
<!--							</label>-->
<!--								<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@gmail.com">-->
<!--						  </div>-->
<!--					  </div>-->
<!--					<div id="mce-responses" class="clear">-->
<!--							<div class="response" id="mce-error-response" style="display:none"></div>-->
<!--							<div class="response" id="mce-success-response" style="display:none"></div>-->
<!--					</div>    &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
<!--					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45c6519d7a30bc38e73a93ea8_161d535f0a" tabindex="-1" value=""></div>-->
<!--					<div class="clear">-->
<!--						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>-->
<!--					</div>-->
<!--					</form>-->

<!--		</div>-->

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src=" {% static 'img/luciano-ramalho.jfif' %} " alt="foto de luciano ramalho" class="img-thumbnail float-start mr-3">
						Confira em breve mais informações sobre o curso que será ministrado pelo livro:
					<a href="https://www.amazon.com.br/Python-Fluente-Programa%C3%A7%C3%A3o-Concisa-Eficaz/dp/857522462X" taget="_blank"> Python Fluente</a>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec magna ac nibh imperdiet lacinia vitae sit amet tortor. Donec est nulla, placerat sit amet arcu id, venenatis vehicula eros. Aliquam erat volutpat. Phasellus imperdiet, odio nec maximus placerat, elit ex ultricies mauris, eu iaculis nunc arcu laoreet tortor. Fusce magna diam, molestie vel lacus sit amet, venenatis blandit risus. Pellentesque elementum ac lorem eu lobortis. Etiam congue dolor sed erat dictum auctor. Phasellus sem diam, blandit vel justo quis, accumsan volutpat elit. Nulla sed felis at mi iaculis rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent pulvinar, enim et laoreet euismod, sapien neque varius metus, euismod porta arcu quam et arcu.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}